<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Us</title>
    <link rel = "stylesheet" href = "/aboutus.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap" rel="stylesheet">
</head>
<body>
    <div id = "head">
        <div id = "camp">
        <h1>CampusConnect</h1>
        </div>
        <div id  = "navbar">
            <a href = "/main">
                <h2>Home</h2>
            </a>
            <a href = "#">
                <h2>Explore</h2>
            </a>
            <a href = "#">
                <h2>My Network</h2>
            </a>
        </div>
        <a href = "/login">
        <img src = "profile.png" id = "profile">
        </a>
    </div>
    <div id = "title">
        <h1>About Us</h1>
    </div>
    <div id = "mission">
        <div id = "vision">
            <div id  = "vision-text"><h3>Our Mission & Vision</h3></div>
            <p>CampusConnect is a platfrom designed to bridge <br> the gap between students from various college, <br> fostering a vibrant community where ideas, <br> collaborations, and friendships flourish. Our mission <br> is to empower students by providing a space to <br> connect, share, and grow together, regardless of <br> their institutional affiliations.</p>
        </div>
    </div>
    <div id = "title">
        <h1>Our Developers</h1>
    </div>
    <div id = "dev">
        <div id = "akhil">
            <img src = "profile.png" id = "about">
            <h1>Sugguna Akhil</h1>
            <p>Full Stack Developer</p>
        </div>
        <div id = "akhil">
            <img src = "profile.png" id = "about">
            <h1>Jani Junaid Shaik</h1>
            <p>Front end Developer</p>
        </div>
        <div id = "akhil">
            <img src = "profile.png" id = "about">
            <h1>Yasar Shaik Ali</h1>
            <p>Designer and Research and development</p>
        </div>
    </div>
</body>
</html>